.mentorCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 20px 16px;
    border-radius: 20px;

    background-color: var(--color-background-alt);
}

.main {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: start;

    width: 100%;

    .image {
        border-radius: 28px;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;

        width: 100%;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }

        .subjects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;

            width: 100%;
        }

        .rating {
            display: flex;
            flex-direction: row;
            gap: toRem(10);
            align-items: center;
        }
    }
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;

    width: 100%;
}
