.tag {
    display: flex;

    padding: toRem(4) toRem(12);
    border-radius: toRem(16);

    font-size: toRem(16);
    font-weight: 500;
    line-height: toRem(24);
    color: var(--color-main-text);
}

.subject {
    color: var(--color-background-alt);
    background-color: var(--color-tag-subject);
}

.type {
    color: var(--color-main-text);
    background-color: var(--color-tag-type);
}

.secondary {
    color: var(--color-main-text);
    background-color: var(--color-background-alt);
}
