.tag {
    display: flex;

    padding: toRem(4) toRem(8);
    border-radius: 20px;

    font-size: toRem(12);
    font-weight: 500;
    line-height: toRem(16);
    color: var(--color-main-text);
}

.subject {
    color: var(--color-text-alt);
    background-color: var(--color-accent);
}

.type {
    background-color: var(--color-accent-alt);
}
