.wrapper {
    display: flex;
    gap: toRem(4);
    align-items: center;
    justify-content: center;

    font-size: toRem(18);
    font-weight: 600;
    line-height: toRem(28);
}

.lg {
    font-size: toRem(36);
    font-weight: 600;
    line-height: toRem(44);
}
